{% extends 'health/commons.html' %}
{% block style %}
body{
background-image:url("https://images.unsplash.com/photo-1584174594005-60a49c828bbc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=720&q=80");
background-repeat:no-repeat;
background-size:cover;
color:white;
}
.container{
display:grid;
place-items:center;
align-items:center;
}
.card{
background:transparent;
box-shadow:0px 1px 2px white;
margin-bottom:2px;
}
img{
height:200px;
}

.card-body{
height:200px;
}

.btn{
position:absolute;
    bottom:0px;
    margin-bottom:10px;
}


.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

{% endblock %}
{% block body %}
<div >
    <div class="container mt-3 " >
        <div class="col-10">
            <div class="row">

                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://c8.alamy.com/comp/PK5GYG/a-box-of-28-x-75-mg-zopiclone-prescription-sleeping-tablets-against-black-background-PK5GYG.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Sleeping Tablets</h5>
                             <p class="card-text">Sleeping Tablest High Resolution.</p>
                                 <a href="#" class="btn btn-primary">addToCart</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/316/316355/cialis-and-viagra-tablets.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Viagra, Cialis, Levitra</h5>
                             <p class="card-text">Popular drugs for treating the symptoms of erectile dysfunction</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/323304_2200-1200x628.jpg" class="card-img-top" alt="...">
                         <div class="card-body ">
                            <h5 class="card-title">Card title</h5>
                             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://post.healthline.com/wp-content/uploads/2020/12/Viagra_Pills_732x549-thumbnail-732x549.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">A Generic Viagra</h5>
                             <p class="card-text">he brand name of the drug sildenafil, is now sold as a generic</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Obesity_Med2008.JPG/1200px-Obesity_Med2008.JPG" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Anti-obesity medication</h5>
                             <p class="card-text"> weight loss medications are pharmacological agents that reduce or control weight</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://4.imimg.com/data4/IY/GG/MY-24119759/hydroxyzine-hydrochloride-250x250.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Hydroxyzine Hydrochloride</h5>
                             <p class="card-text">Hydroxyzine reduces activity in the central nervous system</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                     <img src="https://5.imimg.com/data5/XF/MA/MY-9397634/trima-500x500.jpg" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title"></h5>
                             <p class="card-text">Trima which is a drug primarily used to treat depression and social</p>
                                 <a href="#" class="btn btn-primary">Go somewhere</a>
                         </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


  <!-- Site footer -->
    <footer class="site-footer mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Medicine is the science and practice of caring for a patient and managing the diagnosis, prognosis, prevention, treatment or palliation of their injury or disease. Medicine encompasses a variety of health care practices evolved to maintain and restore health by the prevention and treatment of illness.</p>
          </div>

<!--          <div class="col-xs-6 col-md-3">-->
<!--            <h6>Categories</h6>-->
<!--            <ul class="footer-links">-->
<!--              <li><a href="http://scanfcode.com/category/c-language/">C</a></li>-->
<!--              <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>-->
<!--              <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>-->
<!--              <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>-->
<!--              <li><a href="http://scanfcode.com/category/android/">Android</a></li>-->
<!--              <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>-->
<!--            </ul>-->
<!--          </div>-->

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/about/">About Us</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
              <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
              <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
         <a href="#">Scanfcode</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>

{% endblock %}